.Visualisation {
    width: 75%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10px;
}

@media (max-width: 752px) { 
    .Visualisation { 
        width: 100%;
        box-sizing: border-box;
    }
    .KeyFigure__Md_Lg {
        display: none;
    }
}