.Layout {
    background-color: #fef7e7;
    display: flex;
    margin: 0 auto;
    max-width: 1059px;
    height: 600px;
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 752px) { 
    .Layout {
        flex-flow: column;
        width: 100%;
    }
}