.KeyFiguresWrapper {
    display: flex;
    justify-content: flex-end;
    
}

.KeyFigures {
    width: 45%;
    border: 1px solid #a70000;
}

.Control {
    display: flex;
}

.ControlInfo {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;  /* Preferred icon size */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #b1b1b1;
    cursor: default;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.ControlInfo .InfoTooltip{
    visibility: hidden;
    width: 200px;
    background-color: #5b5d62;
    color: #fff;
    padding: 10px 10px;
    position: absolute;
    z-index: 5;
    top: 110%;
    font-size:12px;
    font-weight: 300;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}

.InfoTooltip p {
    margin: 0;
}

.InfoTooltip span {
    font-weight: 600;
}

.ControlInfo .InfoTooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #5B5D62 #5B5D62 transparent;
    /* border-color: #5B5D62 transparent transparent transparent; */
}

.ControlInfo:hover .InfoTooltip {
    visibility: visible;
    opacity: 1;
}

.ControlInfo:hover .material-icons{
    color:#5B5D62;
}

@media (max-width: 752px) { 
    .KeyFiguresWrapper {
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .KeyFigures {
        width: 100%;
        border: none;
    }
}

@media (max-width: 450px) { 
    .KeyFiguresWrapper {
        width: 100%;
    }
    
}
