.KeyFiguresWrapper {
    display: flex;
    justify-content: flex-end;
    
}

.KeyFigures {
    width: 45%;
    border: 1px solid #a70000;
}

@media (max-width: 752px) { 
    .KeyFiguresWrapper {
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .KeyFigures {
        width: 100%;
        border: none;
    }
}

@media (max-width: 450px) { 
    .KeyFiguresWrapper {
        width: 100%;
    }
    
}
