.Mixer {
    width: 25%;
    padding: 10px;
}

.Sm_Md {
    display: none;
}

@media (max-width: 650px) { 
    .Mixer {
        box-sizing: border-box;
        width:100%;
    }
    .Large {
        display: none;
    }
    .Sm_Md {
        display: flex;
    }
}